.container {
    width: 100%;
    max-width: 720px;   /*enquanto a tela possui 720px ou mais, ele mantem, senao ocupa toda a tela*/
    margin: 3em auto 6em auto;
    flex: 1;    /*ocupa todo espaco disponivel*/
}

/* HEADER ========= */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.main-header .btn-new-task {
    background-color: #277FFF; /*botao esta estilizado no reset.css*/
}

.main-header .btn-new-task:hover {
    background-color: #0068ff;
}

.main-header .total-tasks {
    color: #3d3d3d;
    font-size: 0.9em;
    font-weight: 600;
}

.main-header #count-tasks {
    font-weight: 700;
    font-size: 1.1em;
}


/* TABLE ============ */
table {
    width: 100%;
    text-align: left;
    border-spacing: 0 0.5rem;
}

table thead th {
    background-color: #fff;
    color: #969CB3;
    opacity: 0.9;
    padding: 1em;
    font-size: 0.9em;
}

table tbody td {
    background-color: #fff;
    color: #83889a;
    padding: 1.2em;
    font-weight: 700;
}

table tbody tr:first-child {       /*primeira tarefa*/
    margin-top: 24px;
}

#loading-message {      
    text-align: center;
    color: #969CB3;
    margin-top: 2em;
}


/* MODAL ========== */

