div {
    width: 100%;
    height: 150px;

    background: #f33;
    /* bottom: 0; */
    /* position: relative; */
    /* position: fixed; */

}

.blue {
    background: blue;
    top: 250px;
    right: 200px;
    position: absolute;
}