h2 {
    margin-top: 25px;
}

div {
    margin-bottom: 50px;
}

.none {
    display: none;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

span {
    display: block;
}